<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title><%= post.title %></title>
</head>
<body>
<main>
    <%- include('./header.ejs') %>
    <div class="authOptions">
        <h1>Are you sure you want to delete this post?</h1>
        <a role="button" href="/posts">Home</a>
    </div>
    <b><%= post.title %></b>
    <div>
        <p><%= post.description %></p>
        <div style="line-height: 1px; margin-top: 50px">
            <p>
                Link <a href="<%= post.link %>" target="_blank"><%= post.link %></a>
            </p>
            <p>Created by: <%= post.creator.uname %></p>
            <p>
                Created At:
                <small>
                    <% const commentInfo = new Date(post.timestamp); %> <%=
                    commentInfo.toLocaleDateString("en-US") %></small
                >
            </p>
        </div>
        <hr />
        <form method="GET" action="/posts/show/<%= post.id %>">
            <button type="submit">Cancel</button>
        </form>
        <form method="POST" action="/posts/delete/<%= post.id %>">
            <button type="submit" style="background-color: red">Delete</button>
        </form>
    </div>
</main>
</body>
</html>
