<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
</head>
<body>
<main>
    <div class="authOptions">
        <h1>Edit Post</h1>
        <a role="button" href="/posts">Home</a>
    </div>
    <form method="POST" action="/posts/edit/<%= post.id %>">
        <label for="title">
            Title
            <input type="text" name="title" placeholder="Enter title here" value="<%= post.title %>" />
        </label>
        <label for="description">
            Description
            <textarea name="description" placeholder="Enter description here" value="<%= post.description %>"><%= post.description %></textarea>
        </label>
        <label for="link">
            Link
            <input type="text" name="link" placeholder="Enter link here" value="<%= post.link %>" />
        </label>
        <input type="hidden" name="id" value="<%= post.id %>" />
        <button type="submit">Save</button>
    </form>
</main>
</body>
</html>
