<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title><%= post.title %></title>
  </head>
  <body>
    <%- include('./header.ejs') %>
    <main>
      <div class="authOptions">
        <h1><%= post.title %></h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div>
        <p><%= post.description %></p>
        <div style="margin-top: 50px">
          <p>
            Link <a href="<%= post.link %>" target="_blank"><%= post.link %></a>
          </p>
          <p>Created by: <%= post.creator.uname %></p>
          <p>
            Created At:
            <small>
              <% const commentInfo = new Date(post.timestamp); %> <%=
              commentInfo.toLocaleDateString("en-US") %></small
            >
          </p>

          <%- include("./helpers/votes.ejs") %>
        </div>

        <hr />
        <div>
          <h4>Comments</h4>

          <div style="padding: 10px; padding-top: 1px">
            <ul class="timeline">
              <% post.comments.forEach(function(comment) { %>
              <li style="list-style-type: none">
                <%- include("./helpers/comment", {comment, user}) %>
              </li>
              <hr />
              <% }) %>
            </ul>
          </div>
          <% if(user) { %>
          <div><%- include("./helpers/createCommentForm.ejs") %></div>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
