<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Homepage</title>


  
  </head>
  <body>
    <main>
      <%- include('./header.ejs') %>
      <div class="authOptions">
        <h1>Homepage</h1>
        <% if (!user) { %>
        <a role="button" href="/auth/login">Login</a>
        <% } else { %>
        <a role="button" href="/auth/logout">Logout</a>
        <% } %>
      </div>
      <h2>Welcome, <%= user?.uname || "Visitor" %></h2>
      <div>
        <p>All Posts</p>
        
        <div class=sortParent>
            <p>sort:</p>
          <small className="sort"><a href="/posts?sortBy=date">By Data</a></small>
          <small className="sort"><a href="/posts?sortBy=vote">By Vote</a></small>
          <small className="sort"><a href="/posts?sortBy=hot">By Hot</a></small>
          <small className="sort"><a href="/posts?sortBy=controversial">By Controversial</a></small>
        </div>

        <% posts.forEach(post => { %>
        <div class="individualPost">
          <a href="/posts/show/<%=post.id%>"><%= post.title %></a>
          <span>By <%= getUser(post.creator.id).uname.toUpperCase() %></span>
          <p><%= post.description %></p>
          <%- include("./helpers/votes.ejs", {post}) %>
        </div>
        <% }) %>
      </div>

      <div>
        <a href="/subs/list">Subgroups</a>
      </div>

      <% if(user) { %>
      <div>
        <a role="button" href="/posts/create">Create Post</a>
      </div>
      <%} %>
    </main>
  </body>
</html>
